section {
    height:100vh;
    background-color: black;
    border: solid beige 1px;
    color:white
}

ul {
    list-style: none;
}

.h1 {
    font-size: x-large;
}

/* home section */
section.home {
    background-color: black;
    height: 100vh;
    color:white;
    font-size: 30px;
}

nav.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

ul#navlist {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    font-size: 25px;
    margin: 20px;
}
   
li a {
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    transition: all .5s ease;
}

li a:hover {
    background-color: white;
    color: rgb(25, 185, 248);
    box-shadow:  0 0 10 px lightskyblue;
}

li {
    justify-content: space-around;
}

.hr {
    border-top: 8px solid;
    border-radius: 5px;
}

.home-area {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    margin: 20px 20px;
    padding: 10px 10px
}

.home__elem {
    margin: 40px 34px;
    padding: 5px 5px;
    justify-content: center;
    flex-direction: column;
}


.home-img {
    display: flex;
}

.home-img__elem {
    justify-content: center;
    height: 750px;
}



/* about section */
.about-me {
    background-color: black;
    height: 100vh;
    color:white;
    display: flex;
    flex-direction: column;    
}

.about-heading {
    background-color: black;
    display: flex;
    justify-content: center;
}

.about-img {
    display: flex;
    justify-content: center;
}

.about-img__elem {
    width: 300px;
    height: 300px;

}

.information {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    padding: 10px 100px;
}


.bucketlist {
    display: flex;
    flex-direction: column;
}

.ul__mod {
    width: 40%;
    font-size: 20px;
    padding: 25px 40px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    display: flex;
}



/* portfolio section */




/* contact me section */
.contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: beige;
    padding: 20px;
    height: 100vh;
}

.contact-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact-heading__mod {
    justify-content: center;
    display: flex;
}
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input {
    padding: 6px;
    margin: 8px;
    width: 25%;
    border: none;
}

#msg {
    width: 30%;
    padding: 10px;
    margin: 10px ;
    border: none;
    outline: none;
}

#send {
    padding: 10px;
    width: 10%;
    margin:10px;
    border: none;
    outline: none;
}

#send:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(25, 185, 248);
    box-shadow:  0 0 10 px lightskyblue;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#socials__elem {
    display: flex;
    flex-direction: row;
    padding: 0 ;
}


/* footer section */
footer{
    height: 80px;
    background-color: gray;
}

/* responiveness */



/* Smartphones
 640 x 960 pixels
Tablets
 768 x 1024 pixels
Laptops
 1440 x 900 pixels
Desktops
 1920 x 1080 pixels */