section {
    height:500px;
    background-color: black;
    border: solid cyan 1px;
    color:white
}

.home {
    background-color: black;
    height: 100vh;
    color:white;
    font-size: 30px;
}

.logo {
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    font-size: 25px;
}
   
li {
       /* width: 200px; */
    justify-content: space-around;
}

.home-area {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.about-me {
    background-color: black;
    height: 100vh;
    color:white;
    
}

.about-heading {
 background-color: black;
}

.headshot {
    width: 200px;
    height: 200px;
    display: block;

}
footer{
    height: 80px;
    background-color: gray;
}

.bucketlist {
    display: block;
    padding: 5px 5px;

}