section {
    height:500px;
    background-color: white;
    border: solid black 1px;
}

.home {
    background-color:#fff2f4;
    height: 100vh;
    colour:white;
    font-size: 30px;
}

footer{
    height: 500px;
    background-color: mediumturquoise;
}

nav {
 display: flex;
 justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    font-size: 25px;
}

li {
    /* width: 200px; */
    justify-content: space-around;
}

h1 {
    font-size: 90px;
    padding: ;
}